*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
  align-items: center;
  max-width: 100%;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
.menu {
  max-width: 100%;
  margin: 0;
}
.newGame {
  font-size: 25px;
  color: #053d5a;
  font-weight: bold;
  width: 200px;
  justify-content: center;
  margin-top: 10px;
  text-transform: uppercase;
}
#newGame:hover {
  background-color: #053d5a;
  color: white;
  text-align: center;
  border-radius: 5px;
}

h1,
h2,
h3 {
  font-weight: 100px;
  font-size: 45px;
}

.player1,
.player2 {
  height: 400px;
}

#player1,
#player2 {
  font-family: "Dancing Script", cursive;
}
.active-player {
  text-decoration: underline;
}


.current-score-1 {
  width: 120px;
  height: 90px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #27749b;
  font-weight: bold;
}

.number1,
.number2 {
  font-size: 70px;
  color: #27749b;
}

.number3,
.number4 {
  font-size: 25px;
}
.dice,
.load,
.hold {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.load button,
.hold button {
  border: none;
  background-color: transparent;
  font-size: 25px;
}

#newGame {
  border: none;
  background-color: transparent;
  text-align: center;
}

.load img,
.hold img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.dice {
  max-width: 100%;
  width: 85px;
  height: auto;
  top: 33%;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.75rem #d6d6d6);
}

.load {
  bottom: 15%;
  font-size: 30px;
}

.hold {
  bottom: 5%;
  font-size: 30px;
}

.btnLoad {
  color: #27749b;
  font-weight: bold;
  margin-bottom: 10px;
}
.btnLoad:hover {
  background-color: #053d5a;
  color: white;
}
.btnHold {
  color: #27749b;
  font-weight: bold;
  margin-top: 10px;
}
.btnHold:hover {
  background-color: #053d5a;
  color: white;
}
@media (max-width: 767px) {
  .groupPlayer1,
  .groupPlayer2 {
    width: 47px;
  }
  .current-score-1 {
    width: 60px;
    height: 70px;
  }
  .dice {
    width: 70px;
    height: auto;
  }
  .hold,
  .load {
    font-size: 20px;
  }
}
